<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Management</title>
    <link rel="stylesheet" href="appointmentManagement.css">
</head>
<body>
    <div class="appointment-container">
        <h2>Appointment Management</h2>
        <ul>
            <li><a href="/openBookAppointmentByPatient">Book New Appointment</a></li>
            <li><a href="/openModifyAppointment">Details And Modification of Appointment</a></li>
            <li><a href="/appointmentHistory">Appointment History</a></li>
            
        </ul>
    </div>
</body>
</html>
