<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Management</title>
    <link rel="stylesheet" href="patientManagement.css">
</head>
<body>
    <div class="patient-management-container">
        <h2>Patient Management</h2>
        <ul>
            <li><a href="/addNewPatient">Add New Patient</a></li>
            <li><a href="/openSearchPatient">Search and View Patient Details</a></li>
            <li><a href="/openUpdatePatient">Update Patient Information</a></li>
            <li><a href="/openUploadPatientReports">Upload Patient Reports</a></li>
            <li><a href="/openDeletePatient">Delete Patient Information</a></li>
            
        </ul>
    </div>
</body>
</html>
