<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information Management</title>
   <!--  <link rel="stylesheet" href="receptionistDashboard.css">-->
   <link rel="stylesheet" type="text/css" th:href="@{/receptionistDashboard1.css}">
   
</head>
<body>
    <div class="dashboard-container">
        <h2>Patient Information Management</h2>
        <ul>
        	<li><a href="/viewProfile">View Profile</a></li>
            <li><a href="/viewPatientReports">View Medical Records</a></li>
            
        </ul>
    </div>
</body>
</html>
