<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist Dashboard</title>
   <!--  <link rel="stylesheet" href="receptionistDashboard.css">-->
   <link rel="stylesheet" type="text/css" th:href="@{/receptionistDashboard1.css}">
   
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to the Receptionist Dashboard</h2>
        <ul>
            <li><a href="/openAppointmentManagement">Appointment Management</a></li>
            <li><a href="/doctorSchedules">Doctor Schedules</a></li>
            <li><a href="/patientManagement">Patient Management</a></li>
            <li><a href="/receptionistlogout">Log Out</a></li>
        </ul>
    </div>
</body>
</html>
