<!DOCTYPE html>
<html>
	<head>
	    <title>Feedback List</title>
	    <link rel="stylesheet" href="review.css">
	</head>
	<body>
		<div class="container">
			<h2>Feedback List</h2>
			<table border="1">
			    <tr>
			        <th>ID</th>
			        <th>Doctor Name</th>
			        <th>Appointment Date</th>
			        <th>Rating</th>
			        <th>Comments</th>
			        <th>Submission Date</th>
			    </tr>
			    <tr th:each="feedback : ${feedbacks}">
			        <td th:text="${feedback.id}"></td>
			        <td th:text="${feedback.doctorName}"></td>
			        <td th:text="${feedback.appointmentDate}"></td>
			        <td th:text="${feedback.rating}"></td>
			        <td th:text="${feedback.comments}"></td>
			        <td th:text="${feedback.submissionDate}"></td>
			    </tr>
			</table>
		</div>
	</body>
</html>