<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Patient</title>
    <link rel="stylesheet" href="searchPatient.css">
    
</head>
<body>
<div class="container">
    <h1>Search Patient by ID</h1>
    <form action="/searchPatient" method="get">
        <label for="id">Patient ID:</label>
        <input type="number" id="id" name="id" required>
        <button type="submit">Search</button>
    </form>
    
    

    <!-- Display search result -->
    <div id="result">
        <h2>Patient Details:</h2>
        <div th:if="${patient}">
            <p><strong>Full Name:</strong> <span th:text="${patient.fullName}"></span></p>
            <p><strong>Gender:</strong> <span th:text="${patient.gender}"></span></p>
            <p><strong>Date of Birth:</strong> <span th:text="${patient.dateOfBirth}"></span></p>
            <p><strong>Blood Group:</strong> <span th:text="${patient.bloodGroup}"></span></p>
            <p><strong>Phone Number:</strong> <span th:text="${patient.phoneNumber}"></span></p>
            <p><strong>Address:</strong> <span th:text="${patient.streetAddress}"></span>, <span th:text="${patient.city}"></span>, <span th:text="${patient.state}"></span> - <span th:text="${patient.postalCode}"></span></p>
            <p><strong>Emergency Contact:</strong> <span th:text="${patient.emergencyContactName}"></span> (<span th:text="${patient.relationship}"></span>) - <span th:text="${patient.emergencyPhoneNumber}"></span></p>
            <p><strong>Date of Registration:</strong> <span th:text="${patient.dateOfRegistration}"></span></p>
        </div>
        
    </div>
    
    <h1>Fetch Patient Reports</h1>
    <form action="/getPatientReports" method="get">
        <label for="report-patient-id">Patient ID:</label>
        <input type="number" id="report-patient-id" name="patientId" required>
        <button type="submit">Fetch Patient Reports</button>
    </form>
    
    <h2>Patient Reports</h2>
    <div>
        <div th:if="${allReports != null}" th:each="report : ${allReports}">
            <p><strong th:text="${report.fileName}"></strong> (<span th:text="${report.fileType}"></span>)</p>
            <img th:if="${report.patientReportsBase64}"
                 th:src="'data:image/jpeg;base64,' + ${report.patientReportsBase64}"
                 alt="Patient Report Image" />
        </div>
        <p th:if="${allReports == null || #lists.isEmpty(allReports)}">
            No reports available for this patient.
        </p>
    </div>
    </div>
</body>
</html>
