<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
   <!--  <link rel="stylesheet" href="receptionistDashboard.css">-->
   <link rel="stylesheet" type="text/css" th:href="@{/receptionistDashboard1.css}">
   
</head>
<body>
    <div class="dashboard-container">
        <h2>Staff Management</h2>
        <ul>
        	<li><a href="/openAddStaff">Add Staff</a></li>
            <li><a href="/openViewOrEditStaffDetails">View or Edit Staff Details</a></li>
            <li><a href="/openRemoveStaff">Remove Staff</a></li>
            
        </ul>
    </div>
</body>
</html>
