<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
   <!--  <link rel="stylesheet" href="receptionistDashboard.css">-->
   <link rel="stylesheet" type="text/css" th:href="@{/receptionistDashboard1.css}">
   
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome to the Patient Dashboard</h2>
        <ul>
        	<li><a href="/openPatientInformationManagement">Patient Information Management</a></li>
            <li><a href="/openAppointmentManagementByPatient">Appointment Management</a></li>
            <li><a href="/doctorSchedules">Availability Of Doctor</a></li>
            <li><a href="/prescriptionsByPatient">Prescriptions</a></li>
            <li><a href="/openFeedback">Feedback</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </div>
</body>
</html>
